<h1>All Blogs</h1>
<p>
    {{#each showBlogs}}
<p>
<h2>{{this.post_title}}</h2>
<p>
    {{this.post_contents}}
<p>
    Created on: {{dateFormat this.createdAt "MM/DD/YYYY, h:mm:ss a"}} By user: {{this.User.name}}
</p>
<p>
    Comment:{{this.Comments.comment}}-{{this.Comments.user_id}}
</p>
</p>

</p>
{{/each}}
</p>