<h1>One Blogs</h1>

<h2>{{post_title}}</h2>
<p>
    {{post_contents}}
<p>
    Created on: {{dateFormat createdAt "MM/DD/YYYY (h:mm a)"}} By user: {{User.name}}
</p>
<p>
    Comment:{{Comments.comment}}-{{Comments.user_id}}
</p>
</p>