<h1>One Blog</h1>

<h2>{{post_title}}</h2>
<p>
    {{post_contents}}
<p>
    Created on: {{dateFormat createdAt "MM/DD/YYYY (h:mm a)"}} By user: {{user.name}}
</p>
    {{#each comments}}
<p>
    Comment:{{comment}} : {{this.user.name}}
    {{!-- Comments don't display, need to learn how to include multiple models.  Also, need to grab username by its id, not sure how to do that --}}
</p>
{{/each}}
</p>