<h1>Blog Title: {{post_title}}</h2>
<p class="fs-5">
    {{post_contents}}
<p class="fs-8">
    Created on: {{dateFormat createdAt "MM/DD/YYYY (h:mm a)"}} By user: {{user.name}}
</p>
    {{#each comments}}
<p class="fs-5">
    "{{comment}}" said user {{this.user.name}}
</p>
{{/each}}
</p>